# Unity generated
Library
Temp

# VS generated
ExportedObj
obj
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# OS Generated
.DS_Store
.DS_Store?
._*
.Trashes
.Spotlight-V100
ehthumbs.db
Thumbs.db

# builds and assoc. files
*.pdb
*.exe
*_Data/
